<a href="https://colab.research.google.com/github/ShwetaAroraKhera/ShwetaAroraKhera/blob/main/linearregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
data1 = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00291/airfoil_self_noise.dat",
                   sep="\t", header=None, names=['Freq', 'Angle', 'ChordLength', 'Velocity', 'SuctionThickness', 'SoundLevel'])

In [4]:
print(data1)

      Freq  Angle  ChordLength  Velocity  SuctionThickness  SoundLevel
0      800    0.0       0.3048      71.3          0.002663     126.201
1     1000    0.0       0.3048      71.3          0.002663     125.201
2     1250    0.0       0.3048      71.3          0.002663     125.951
3     1600    0.0       0.3048      71.3          0.002663     127.591
4     2000    0.0       0.3048      71.3          0.002663     127.461
...    ...    ...          ...       ...               ...         ...
1498  2500   15.6       0.1016      39.6          0.052849     110.264
1499  3150   15.6       0.1016      39.6          0.052849     109.254
1500  4000   15.6       0.1016      39.6          0.052849     106.604
1501  5000   15.6       0.1016      39.6          0.052849     106.224
1502  6300   15.6       0.1016      39.6          0.052849     104.204

[1503 rows x 6 columns]

In [5]:
X = data1 [['Freq','Angle','ChordLength', 'Velocity', 'SuctionThickness']]

In [6]:
type(X)

pandas.core.frame.DataFrame

In [7]:
y = data1[['SoundLevel']]

In [8]:
type(y)

pandas.core.frame.DataFrame

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [10]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.compose import ColumnTransformer

In [11]:
ct = ColumnTransformer([('X_train', MinMaxScaler(), ['Angle', 'ChordLength', 'Velocity'])
    ], remainder='passthrough')

In [12]:
X_train_norm = ct.fit_transform(X_train)
print(X_train_norm)

[[0.00000000e+00 7.27272727e-01 1.00000000e+00 1.25000000e+03
  2.14345000e-03]
 [0.00000000e+00 7.27272727e-01 1.00000000e+00 1.60000000e+03
  2.14345000e-03]
 [1.48648649e-01 2.72727273e-01 1.00000000e+00 8.00000000e+03
  2.02822000e-03]
 ...
 [4.27927928e-01 0.00000000e+00 1.99494949e-01 6.30000000e+03
  4.49821000e-03]
 [0.00000000e+00 7.27272727e-01 0.00000000e+00 1.25000000e+03
  2.72380000e-03]
 [4.27927928e-01 0.00000000e+00 1.00000000e+00 1.60000000e+03
  4.20654000e-03]]

In [13]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [14]:
lr.fit(X_train_norm, y_train)

LinearRegression()

In [15]:
X_test_norm = ct.transform(X_test)

In [16]:
y_pred = lr.predict(X_test_norm)
y_pred[:30]

array([[119.67538751],
       [119.81150781],
       [125.9967535 ],
       [126.01349344],
       [130.68978942],
       [124.01104362],
       [129.96645572],
       [127.96287322],
       [127.59099693],
       [125.13472564],
       [121.17488679],
       [121.90875174],
       [121.67347252],
       [125.87156542],
       [114.69637968],
       [123.97915082],
       [120.22699558],
       [122.04214147],
       [133.0840635 ],
       [123.97724937],
       [127.28157163],
       [120.26436048],
       [118.43152819],
       [131.7998307 ],
       [125.55084725],
       [130.28455639],
       [134.07912881],
       [123.004296  ],
       [126.87550534],
       [124.76150324]])

In [17]:
y_test [:30]

      SoundLevel
91       117.741
75       118.122
1213     120.657
330      122.229
1352     129.343
774      126.590
1038     133.436
1078     131.582
1166     111.911
335      129.969
685      118.619
181      126.343
1221     123.917
101      129.004
692      108.689
1127     125.398
169      117.785
926      123.255
1296     132.304
414      125.724
1396     135.540
1280     119.561
1467     110.447
808      123.742
102      127.634
1100     124.756
1244     131.725
922      123.695
1138     129.977
761      128.518

In [18]:
from sklearn.metrics import mean_absolute_error

In [19]:
mae = mean_absolute_error(y_pred, y_test)

print("Mean Absolute Error :", round(mae, 2))

Mean Absolute Error : 3.88