<a href="https://colab.research.google.com/github/ShwetaAroraKhera/ShwetaAroraKhera/blob/main/SVM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy  as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('/content/Bank_data.csv')

In [3]:
gender = {'Male': 1,'Female': 2}

In [4]:
data.Gender = [gender[item] for item in data.Gender]

In [8]:
x = data.iloc[:, 1:4].values
y = data.iloc[:, -1].values

In [9]:
from sklearn.model_selection import train_test_split

In [13]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=40)

In [14]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [15]:
X_train = sc.fit_transform(X_train)
X_test  = sc.transform(X_test)

In [19]:
from sklearn.svm import SVC

In [20]:
classifier = SVC(kernel='rbf', random_state=1)

In [21]:
classifier.fit(X_train,y_train)

SVC(random_state=1)

In [22]:
y_pred = classifier.predict(X_test)

In [23]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [24]:
accuracy_score(y_test, y_pred)

0.93

In [29]:
df= pd.DataFrame()
df['y_pred'] = y_pred
df['y_test'] = y_test
df['y_diff'] = y_pred-y_test
df

    y_pred  y_test  y_diff
0        0       0       0
1        1       1       0
2        0       0       0
3        0       0       0
4        0       0       0
..     ...     ...     ...
95       1       1       0
96       0       0       0
97       0       0       0
98       0       0       0
99       1       1       0

[100 rows x 3 columns]